@import "tailwindcss";

/* ====== GLOBAL VARIABLES ====== */
@layer base {
  :root {
    --primary: #8D7A5D;
    --background: #15212D;
    --text-light: #ffffff;
    --text-dark: #1a1a1a;
  }

  body {
    background: var(--background);
    color: var(--text-light);
    font-family: sans-serif;
  }
}

/* ====== CUSTOM UTILITIES ====== */
@layer utilities {
  .bg-primary {
    background-color: var(--primary);
  }

  .text-primary {
    color: var(--text-light);
  }

  .border-primary {
    border-color: var(--primary);
  }

  .bg-app {
    background-color: var(--background);
  }
}

/* Hide scrollbar for Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for IE & Edge */
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes pulse-slow {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}